# Node modules for backend and frontend
tinyurl_backend/node_modules/
tinyurl_frontend/node_modules/

# Logs
*.log

# Build outputs
tinyurl_frontend/build/
tinyurl_backend/dist/

# Environment files
tinyurl_backend/.env
tinyurl_frontend/.env

# IDE / Editor files
.vscode/
.idea/
.DS_Store
